* {
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 0.24em;
  margin-bottom: 0.36em;
}

.container {
  display: grid;
  max-width: 55em;
  width: 100%;
  margin: 0 auto;
  min-height: 27em; /* 400px */
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr)); /* 150px */
  grid-auto-rows: 1em; /* 20px */
  grid-gap: 0.7em; /* 5px */
}

.img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: filter ease 1s 0s;
}

img.focus {
  transform: translate(-50%, -50%);
  transition: filter ease 1s 0s;
  filter: brightness(40%) blur(0.3em);
  /* TODO: mini player (play/pause, volume) 
  later: => album pic*/
}

.mini-audio-player.show {
  color: white;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.mini-audio-player {
  display: none;
}

.mini-audio-player .play-btn:hover {
  transform: scale(1.1);
}
