* {
  user-select: none;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 0.12em;
}

.container {
  display: grid;
  max-width: 55em;
  width: 100%;
  margin: 0 auto;
  min-height: 27em; /* 400px */
  grid-template-columns: repeat(auto-fill, minmax(13em, 1fr)); /* 150px */
  grid-auto-rows: 1em; /* 20px */
  grid-gap: 0.7em; /* 5px */
}

.img-box {
  width: 100%;
  overflow: hidden;
  position: relative;
}

img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: filter ease 1s 0s;
}

img.focus {
  transform: translate(-50%, -50%);
  transition: filter ease 1s 0s;
  filter: brightness(40%) blur(0.3em);
}

/* modal */

.modal {
  display: block; /* default none */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: fixed;
  background-color: #fefefe;
  left: 0;
  right: 0;
  margin: 6em auto;
  width: 70%; /* 70% */
  height: 40em;
  padding: 1.4%;
  border: 1px solid #aaa;
  opacity: 90%;
  border-radius: 0.2em;
}

.modal-close {
  line-height: 0.6;
  color: #aaa;
  float: right;
  font-size: 2em;
  font-weight: bold;
}

.modal-close:hover {
  cursor: pointer;
  color: black;
  text-decoration: none;
}
/* // modal */

.audio-player {
  margin: 5em auto;
}

.waveform {
  cursor: pointer;
}

wave {
  width: 100%;
}

.audio-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em auto;
}

.play-btn {
  cursor: pointer;
  margin: auto 0.5em;
}

.play-btn:hover {
  transform: scale(1.1);
}

.volume-control {
}

.volume-btn {
  cursor: pointer;
  margin: auto 0.5em;
}

.volume-btn:hover {
  transform: scale(1.1);
}

.volume-slider {
}

.volume-percentage {
  background: coral;
}
